a {
    transition: .5s;
}

/*background index*/
.bg-collage {
    background-image: url(../img/collage.jpg);
}
.bg-punta-sal {
    background-image: url(../img/Lugares/puntasal.jpg);
}
.bg-ceviche-conchas {
    background-image: url(../img/Platos/conchas\ negras.png);
}
.bg-marinera {
    background-image: url(../img/Danzas/Portada.jpg);
}


/*background lugares*/
.bg-lugares {
    background-image: url(../img/Lugares/Portada\ lugares.jpg);
}
.bg-amotape {
    background-image: url(../img/Lugares/Cerros\ de\ Amotape.jpg);
}
.bg-zorritos {
    background-image: url(../img/Lugares/Balneario\ zorritos.jpg);
}
.bg-manglares {
    background-image: url(../img/Lugares/Manglares.jpg);
}

/*background platos*/
.bg-platos {
    background-image: url(../img/Platos/portada\ platos.png);
}
.bg-ceviche-conchas {
    background-image: url(../img/Platos/conchas\ negras.png);
}
.bg-chicharron {
    background-image: url(../img/Platos/chicharron.png);
}
.bg-majarisco {
    background-image: url(../img/Platos/majarisco.png);
}
.bg-ceviche {
    background-image: url(../img/Platos/ceviche.jpg);
}
.bg-mariscos {
    background-image: url(../img/Platos/Arroz\ con\ mariscos.png);
}
.bg-parihuela {
    background-image: url(../img/Platos/parihuela.png);
}
.plato-info {
    right: 100%;
    transition: .5s;
}
.plato:hover .plato-info{
    right: 0;
}

/*background danzas*/
.bg-danzas {
    background-image: url(../img/Danzas/Portada.jpg);
}
.bg-huayno {
    background-image: url(../img/Danzas/huayno.jpg);
}
.bg-negroides {
    background-image: url(../img/Danzas/danza\ negroide.jpg);
}
.bg-marinera {
    background-image: url(../img/Danzas/marinera2.jpg);
}
.bg-platano {
    background-image: url(../img/Danzas/danza\ de\ los\ platanos.JPG);
}