<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tumbes</title>
    <link rel="stylesheet" href="../css/tailwind.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <div id="menu" class="w-full h-auto fixed mt-5 z-10">
            <ul class="flex flex-wrap items-center justify-center">
                <li><a href="../index.html" class="block w-24 md:w-32 h-16 flex items-center justify-center text-center font-bold text-white bg-blue-400 bg-opacity-75 border-b-4 border-blue-400 border-opacity-0 hover:border-blue-700 hover:bg-blue-500">Inicio</a></li>
                <li><a href="lugares.html" class="block w-24 md:w-32 h-16 flex items-center justify-center text-center font-bold text-white bg-blue-400 bg-opacity-75 border-b-4 border-blue-400 border-opacity-0 hover:border-blue-700 hover:bg-blue-500">Lugares <br> Turísticos</a></li>
                <li><a href="../index.html" class="block w-24 md:w-32 h-16 flex items-center justify-center bg-blue-400 bg-opacity-75"><img src="../img/Escudo-Tumbes.png" alt=""></a></li>
                <li><a href="platos.html" class="block w-24 md:w-32 h-16 flex items-center justify-center text-center font-bold text-white bg-blue-400 bg-opacity-75 border-b-4 border-blue-400 border-opacity-0 hover:border-blue-700 hover:bg-blue-500">Platos <br> Típicos</a></li>
                <li><a href="danzas.html" class="block w-24 md:w-32 h-16 flex items-center justify-center text-center font-bold text-white bg-blue-400 bg-opacity-75 border-b-4 border-blue-400 border-opacity-0 hover:border-blue-700 hover:bg-blue-500">Danzas</a></li>
            </ul>
        </div><!--Menu-->
        <div class="w-full h-screen bg-danzas bg-cover bg-center relative">
            <div class="absolute bottom-0 w-full py-4 bg-blue-700">
                <div class="mx-12 px-5 text-white border-l-4 border-white">
                    <h1 class="text-3xl font-bold">Danzas</h1>
                </div>
            </div>
        </div><!--Banner-->
    </header>
    <main>
        <section class="w-full flex-wrap flex justify-around my-5">
            <div class="w-5/12 flex m-5">
                <div class="w-3/5 bg-huayno bg-cover bg-center">
                </div><!--Banner-->
                <div class="w-2/5 bg-gray-400 text-gray-900 px-5 py-4">
                    <h2 class="font-bold text-2xl my-2">Huayno</h2>
                    <p class="text-sm text-justify">Este baile también está vinculado al cortejo de parejas, cuenta con 3 tiempos: uno lento a modo de saludo, un climas en el que se incluye un fuerte zapateo y la parte final que simula la elección de una pareja.</p>
                </div>
            </div><!--cont danza Huayno-->
            
            <div class="w-5/12 flex m-5">
                <div class="w-3/5 bg-negroides bg-cover bg-center">
                </div><!--Banner-->
                <div class="w-2/5 bg-gray-400 text-gray-900 px-5 py-4">
                    <h2 class="font-bold text-2xl my-2">Los negroides</h2>
                    <p class="text-sm text-justify">La melodía para este baile es interpretada por guitarristas y el cajón peruano, la vestimenta consta de dos piezas cómodas holgadas, tanto hombres como mujeres.</p>
                </div>
            </div><!--cont danza de los negroides-->

            <div class="w-5/12 flex m-5">
                <div class="w-3/5 bg-marinera bg-cover bg-center">
                </div><!--Banner-->
                <div class="w-2/5 bg-gray-400 text-gray-900 px-5 py-4">
                    <h2 class="font-bold text-2xl my-2">Marinera</h2>
                    <p class="text-sm text-justify">Las damas suelen bailar descalzas y usando amplios vestidos de faldas anchas de color blanca, los caballeros suelen vestir con pantalón y camisa negra.</p>
                </div>
            </div><!--cont plato ceviche conchas-->

            <div class="w-5/12 flex m-5">
                <div class="w-3/5 bg-platano bg-cover bg-center">
                </div><!--Banner-->
                <div class="w-2/5 bg-gray-400 text-gray-900 px-5 py-4">
                    <h2 class="font-bold text-2xl my-2">Cosecha del plátano</h2>
                    <p class="text-sm text-justify">Se baila luego de la finalización del recogimiento de la cosecha de plátanos enmarcado en las fiestas o jolgorios.</p>
                </div>
            </div><!--cont plato ceviche conchas-->
        </section>
    </main>
    <footer class="w-full bg-gray-900 flex flex-col justify-between items-center">
        <span class="py-4 font-bold text-white">Esmith AS &copy; 2020</span>
    </footer>
</body>