<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/Escudo.ico" type="image/x-icon">
    <title>Tumbes</title>
    <link rel="stylesheet" href="../css/tailwind.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <div id="menu" class="w-full h-auto fixed mt-0 sm:mt-5 z-10">
            <div class="absolute top-0 block sm:hidden">
                <a href="../index.html" class="w-20 h-16 flex items-center justify-center"><img src="../img/Escudo-Tumbes.png" alt=""></a>
            </div>

            <div class="relative block sm:hidden text-white w-full flex justify-end"><button id="btnMenu" class="p-2 focus:outline-none"><svg class="fill-current h-4 w-4" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg></button></div>

            <ul id="itemsMenu" class="w-1/2 sm:w-full absolute right-0 sm:right-auto overflow-hidden sm:overflow-visible h-0 sm:h-auto flex flex-wrap flex-col sm:flex-row items-center justify-center z-20 text-sm md:text-base">
                <li class="w-full sm:w-auto"><a href="../index.html" class="block w-full sm:w-24 md:w-32 h-16 flex items-center justify-center text-center font-bold text-white bg-blue-400 bg-opacity-75 border-b-4 border-blue-400 border-opacity-0 hover:border-blue-700 hover:bg-blue-500">Inicio</a></li>
                <li class="w-full sm:w-auto"><a href="lugares.html" class="block w-full sm:w-24 md:w-32 h-16 flex items-center justify-center text-center font-bold text-white bg-blue-400 bg-opacity-75 border-b-4 border-blue-400 border-opacity-0 hover:border-blue-700 hover:bg-blue-500">Lugares <br> Turísticos</a></li>
                <li class="hidden sm:block"><a href="../index.html" class="block w-20 sm:w-24 md:w-32 h-16 flex items-center justify-center bg-transparent sm:bg-blue-400 bg-opacity-0 sm:bg-opacity-75"><img src="../img/Escudo-Tumbes.png" alt=""></a></li>
                <li class="w-full sm:w-auto"><a href="platos.html" class="block w-full sm:w-24 md:w-32 h-16 flex items-center justify-center text-center font-bold text-white bg-blue-400 bg-opacity-75 border-b-4 border-blue-400 border-opacity-0 hover:border-blue-700 hover:bg-blue-500">Platos <br> Típicos</a></li>
                <li class="w-full sm:w-auto"><a href="danzas.html" class="block w-full sm:w-24 md:w-32 h-16 flex items-center justify-center text-center font-bold text-white bg-blue-400 bg-opacity-75 border-b-4 border-blue-400 border-opacity-0 hover:border-blue-700 hover:bg-blue-500">Danzas</a></li>
            </ul>
        </div><!--Menu-->
        <div class="w-full h-screen bg-lugares bg-cover bg-center relative">
            <div class="absolute bottom-0 w-full py-4 bg-blue-700">
                <div class="mx-12 px-5 text-white border-l-4 border-white">
                    <h1 class="text-3xl font-bold">Lugares turísticos</h1>
                </div>
            </div>
        </div><!--Banner-->
    </header>
    <main class="w-full h-auto">
        <section class="my-2 md:my-0 w-full flex flex-col md:flex-row flex-wrap">
            <div class="bg-punta-sal bg-cover bg-center py-40 flex-1 relative">
                <h2 class="px-4 py-2 bg-gray-900 text-white text-base sm:text-xl absolute top-0 right-0">Balneario de Punta Sal</h2>
            </div><!--Banner-->
            <div class="flex-1 flex items-center">
                <p class="px-10 py-3 sm:py-5 mx-0 md:mx-10 bg-gray-900 text-sm md:text-base text-white text-justify border-l-8 border-blue-700">
                    Es una de las playas más hermosas y extensas de la costa norte del Perú. Se caracteriza por sus aguas tranquilas y cálidas, con una temperatura promedio de 24°C (76°F). Sus arenas blancas estan resguardadas por dos pequeñas puntas.
                </p>
            </div><!--Cont info-->
        </section><!--Balneario de punta sal-->
        <section class="my-2 md:my-0 w-full flex flex-col flex-wrap md:flex-row-reverse">
            <div class="bg-amotape bg-cover bg-center py-40 flex-1 relative">
                <h2 class="px-4 py-2 bg-gray-900 text-white text-base sm:text-xl absolute top-0 right-0">Cerros de Amotape</h2>
            </div><!--Banner-->
            <div class="flex-1 flex items-center">
                <p class="px-10 py-3 sm:py-5 mx-0 md:mx-10 bg-gray-900 text-sm md:text-base text-white text-justify border-l-8 border-blue-700">
                    Su diversa geografía combina el bosque seco tropical con las colinas de la cordillera norperuana o cerros Amotape. Reúne una gran diversidad biológica como el algarrobo, el sapote y el guayacán.
                    La importancia ecológica del Parque Nacional Cerros de Amotape ha permitido su inclusión en la Reserva del Noroeste.
                </p>
            </div><!--Cont info-->
        </section><!--Cerros de Amotape-->
        <section class="my-2 md:my-0 w-full flex flex-col md:flex-row flex-wrap">
            <div class="bg-zorritos bg-cover bg-center py-40 flex-1 relative">
                <h2 class="px-4 py-2 bg-gray-900 text-white text-base sm:text-xl absolute top-0 right-0">Balneario de Zorritos</h2>
            </div><!--Banner-->
            <div class="flex-1 flex items-center">
                <p class="px-10 py-3 sm:py-5 mx-0 md:mx-10 bg-gray-900 text-sm md:text-base text-white text-justify border-l-8 border-blue-700">
                    Playa de arena fina y suave aleaje. Sus aguas cálidas tienen una temperatura promedio de 26°C (79°F).
                    Es ideal para practicar deportes como la motonaútica, la tabla y la pesca. También es ideal para el camping de playa con el resguardo y felicitación de los servicios que ofrecen los hoteles.
                </p>
            </div><!--Cont info-->
        </section><!--Balneario de zorritos-->
        <section class="my-2 md:my-0 w-full flex flex-col flex-wrap md:flex-row-reverse">
            <div class="bg-manglares bg-cover bg-center py-40 flex-1 relative">
                <h2 class="px-4 py-2 bg-gray-900 text-white text-base sm:text-xl absolute top-0 right-0">Manglares de Puerto Pizarro</h2>
            </div><!--Banner-->
            <div class="flex-1 flex items-center">
                <p class="px-10 py-3 sm:py-5 mx-0 md:mx-10 bg-gray-900 text-sm md:text-base text-white text-justify border-l-8 border-blue-700">
                    Son célebres por sus conchas negras y moluscos que, además de rico sabor, ofrecen cualidades afrodisiacas. También son conocidos por ser el zoocriadero de cocodrilos tumbesinos, especie única en el Perú. Así mismo se puede visitar el centro de Interpretación Turístico en la Bahía de Puerto Pizarro.
                </p>
            </div><!--Cont info-->
        </section><!--Manglares-->
    </main>
    <footer class="w-full bg-gray-900 flex flex-col justify-between items-center">
        <span class="py-4 font-bold text-white">Esmith AS &copy; 2020</span>
    </footer>
    <script src="../js/app.js"></script>
</body>
</html>