<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/Escudo.ico" type="image/x-icon">
    <title>Tumbes</title>
    <link rel="stylesheet" href="../css/tailwind.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <div id="menu" class="w-full h-auto fixed mt-0 sm:mt-5 z-10">
            <div class="absolute top-0 block sm:hidden">
                <a href="../index.html" class="w-20 h-16 flex items-center justify-center"><img src="../img/Escudo-Tumbes.png" alt=""></a>
            </div>

            <div class="relative block sm:hidden text-white w-full flex justify-end"><button id="btnMenu" class="p-2 focus:outline-none"><svg class="fill-current h-4 w-4" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg></button></div>

            <ul id="itemsMenu" class="w-1/2 sm:w-full absolute right-0 sm:right-auto overflow-hidden sm:overflow-visible h-0 sm:h-auto flex flex-wrap flex-col sm:flex-row items-center justify-center z-20 text-sm md:text-base">
                <li class="w-full sm:w-auto"><a href="../index.html" class="block w-full sm:w-24 md:w-32 h-16 flex items-center justify-center text-center font-bold text-white bg-blue-400 bg-opacity-75 border-b-4 border-blue-400 border-opacity-0 hover:border-blue-700 hover:bg-blue-500">Inicio</a></li>
                <li class="w-full sm:w-auto"><a href="lugares.html" class="block w-full sm:w-24 md:w-32 h-16 flex items-center justify-center text-center font-bold text-white bg-blue-400 bg-opacity-75 border-b-4 border-blue-400 border-opacity-0 hover:border-blue-700 hover:bg-blue-500">Lugares <br> Turísticos</a></li>
                <li class="hidden sm:block"><a href="../index.html" class="block w-20 sm:w-24 md:w-32 h-16 flex items-center justify-center bg-transparent sm:bg-blue-400 bg-opacity-0 sm:bg-opacity-75"><img src="../img/Escudo-Tumbes.png" alt=""></a></li>
                <li class="w-full sm:w-auto"><a href="platos.html" class="block w-full sm:w-24 md:w-32 h-16 flex items-center justify-center text-center font-bold text-white bg-blue-400 bg-opacity-75 border-b-4 border-blue-400 border-opacity-0 hover:border-blue-700 hover:bg-blue-500">Platos <br> Típicos</a></li>
                <li class="w-full sm:w-auto"><a href="danzas.html" class="block w-full sm:w-24 md:w-32 h-16 flex items-center justify-center text-center font-bold text-white bg-blue-400 bg-opacity-75 border-b-4 border-blue-400 border-opacity-0 hover:border-blue-700 hover:bg-blue-500">Danzas</a></li>
            </ul>
        </div><!--Menu-->
        <div class="w-full h-screen bg-platos bg-cover bg-center relative">
            <div class="absolute bottom-0 w-full py-4 bg-blue-700">
                <div class="mx-12 px-5 text-white border-l-4 border-white">
                    <h1 class="text-3xl font-bold">Platos típicos</h1>
                </div>
            </div>
        </div><!--Banner-->
    </header>
    <main class="w-full h-auto">
        <section class="w-full flex flex-col sm:flex-row flex-wrap justify-center my-5">
            <div class="w-full sm:w-5/12 lg:w-3/12 relative overflow-hidden cursor-pointer mx-0 my-5 sm:mx-5 plato">
                <div class="bg-ceviche-conchas bg-cover bg-center py-24">
                </div><!--Banner-->
                <div class="w-full h-full bg-gray-900 absolute top-0 plato-info">
                    <h2 class="px-4 py-4 text-white text-xl">Ceviche de conchas negras</h2>
                    <p class="px-6 py-2 mx-4 text-base sm:text-sm text-white text-justify border-l-8 border-blue-700">
                        Preparado a base de conchas negras, limón, ají, rocoto y cebollas en cuadritos.
                    </p>
                </div><!--Cont info-->
            </div><!--cont plato ceviche conchas-->

            <div class="w-full sm:w-5/12 lg:w-3/12 relative overflow-hidden cursor-pointer mx-0 my-5 sm:mx-5 plato">
                <div class="bg-chicharron bg-cover bg-center py-24">
                </div><!--Banner-->
                <div class="w-full h-full bg-gray-900 absolute top-0 plato-info">
                    <h2 class="px-4 py-4 text-white text-xl">Chicharron mixto</h2>
                    <p class="px-6 py-2 mx-4 text-base sm:text-sm text-white text-justify border-l-8 border-blue-700">
                        Filete de pescado y mariscos cortados en trozos, enharinados y puestos a freír en aceite vegetal.
                    </p>
                </div><!--Cont info-->
            </div><!--cont plato chicharron mixto-->
            
            <div class="w-full sm:w-5/12 lg:w-3/12 relative overflow-hidden cursor-pointer mx-0 my-5 sm:mx-5 plato">
                <div class="bg-majarisco bg-cover bg-center py-24">
                </div><!--Banner-->
                <div class="w-full h-full bg-gray-900 absolute top-0 plato-info">
                    <h2 class="px-4 py-4 text-white text-xl">Majarisco</h2>
                    <p class="px-6 py-2 mx-4 text-base sm:text-sm text-white text-justify border-l-8 border-blue-700">
                        Consiste en la prepración de plátanos verdes machacados y guiso de mariscos.
                    </p>
                </div><!--Cont info-->
            </div><!--cont plato majarisco-->

            <div class="w-full sm:w-5/12 lg:w-3/12 relative overflow-hidden cursor-pointer mx-0 my-5 sm:mx-5 plato">
                <div class="bg-ceviche bg-cover bg-center py-24">
                </div><!--Banner-->
                <div class="w-full h-full bg-gray-900 absolute top-0 plato-info">
                    <h2 class="px-4 py-4 text-white text-xl">Ceviche de pescado</h2>
                    <p class="px-6 py-2 mx-4 text-base sm:text-sm text-white text-justify border-l-8 border-blue-700">
                        El mejor ceviche es el que está preparado al momento, ya que si pasa mucho tiempo la carne se ablanda.
                    </p>
                </div><!--Cont info-->
            </div><!--cont plato ceviche-->

            <div class="w-full sm:w-5/12 lg:w-3/12 relative overflow-hidden cursor-pointer mx-0 my-5 sm:mx-5 plato">
                <div class="bg-mariscos bg-cover bg-center py-24">
                </div><!--Banner-->
                <div class="w-full h-full bg-gray-900 absolute top-0 plato-info">
                    <h2 class="px-4 py-4 text-white text-xl">Arroz con mariscos</h2>
                    <p class="px-6 py-2 mx-4 text-base sm:text-sm text-white text-justify border-l-8 border-blue-700">
                        El arroz es ingrediente principal, con una combinación de maricos como conchas, langostinos, etc.
                    </p>
                </div><!--Cont info-->
            </div><!--cont plato mariscos-->
            
            <div class="w-full sm:w-5/12 lg:w-3/12 relative overflow-hidden cursor-pointer mx-0 my-5 sm:mx-5 plato">
                <div class="bg-parihuela bg-cover bg-center py-24">
                </div><!--Banner-->
                <div class="w-full h-full bg-gray-900 absolute top-0 plato-info">
                    <h2 class="px-4 py-4 text-white text-xl">Parihuela</h2>
                    <p class="px-6 py-2 mx-4 text-base sm:text-sm text-white text-justify border-l-8 border-blue-700">
                        Es un concentrado de alto nivel nutritivo, hecha a base de pescados y mariscos.
                    </p>
                </div><!--Cont info-->
            </div><!--cont plato parihuela-->
        </section><!--Balneario de punta sal-->
    </main>
    <footer class="w-full bg-gray-900 flex flex-col justify-between items-center">
        <span class="py-4 font-bold text-white">Esmith AS &copy; 2020</span>
    </footer>
    <script src="../js/app.js"></script>
</body>
</html>